<div th:fragment="header">
    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <div class="navbar-brand-box">
                    <a href="/" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="assets/images/logo.svg" alt="" height="22">
                                </span>
                        <span class="logo-lg">
                                    <img src="assets/images/logo-dark.png" alt="" height="17">
                                </span>
                    </a>

                    <a href="/" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-smm.png" alt="" height="22">
                                </span>
                        <span class="logo-lg">
                                    <img src="assets/images/logo-light.png" alt="" height="18">
                                </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                        id="vertical-menu-btn">
                    <i class="mdi mdi-menu"></i>
                </button>
                <!--                <div class="d-none d-sm-block">-->
                <!--                    <div class="dropdown pt-3 d-inline-block">-->
                <!--                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--                            Добавить <i class="mdi mdi-chevron-down"></i>-->
                <!--                        </a>-->

                <!--                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
                <!--                            <a class="dropdown-item" href="#"><i class="mdi mdi-plus-circle"></i> Транспортное средство</a>-->
                <!--                            <a class="dropdown-item" href="#"><i class="mdi mdi-plus-circle"></i> Прицеп</a>-->
                <!--                            <a class="dropdown-item" href="#"><i class="mdi mdi-plus-circle"></i> Водителя</a>-->
                <!--                            <a class="dropdown-item" href="#"><i class="mdi mdi-plus-circle"></i> Грузовладельца</a>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>

            <div class="d-flex">
                <div class="dropdown d-none d-lg-inline-block">
                    <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                        <i class="mdi mdi-monitor-screenshot"></i>
                    </button>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="assets/images/users/user-4.jpg"
                             alt="Header Avatar">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item d-block"><i
                                class="mdi mdi-settings font-size-17 align-middle mr-1"></i> Сменить пароль
                        </button>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item text-danger"><i
                                    class="bx bx-power-off font-size-17 align-middle mr-1 text-danger"></i> Выход
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="vertical-menu">
        <div data-simplebar class="h-100">
            <div id="sidebar-menu">
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title">Главная</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-database mr-1"></i>
                            <span>Формирование</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/"><i class="mdi mdi-database mr-1"></i>Рейсы</a></li>
                            <li><a href="/book"><i class="mdi mdi-bookmark-multiple mr-1"></i>Книга УПД</a></li>
                        </ul>
                    </li>
                    <li class="menu-title">Грузоперевозки</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-bank-outline mr-1"></i>
                            <span>Наши компании</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/our"><i class="mdi mdi-bank-outline mr-1"></i>Компании</a></li>
                            <li><a href="/manager"><i class="mdi mdi-account-supervisor mr-1"></i>Менеджеры</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi mdi-briefcase mr-1"></i>
                            <span>Заказчики</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/customer"><i class="mdi mdi mdi-briefcase mr-1"></i>Заказчики</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-truck-fast mr-1"></i>
                            <span>Перевозчики</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/transporter"><i class="mdi mdi-truck-fast mr-1"></i>Перевозчики</a></li>
                            <li><a href="/driver"><i class="mdi mdi-account-badge-horizontal mr-1"></i>Водители</a></li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-car-multiple mr-1"></i>
                                    <span>Транспорт</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/vehicle"><i class="mdi mdi-car-multiple mr-1"></i>Список Т/С</a></li>
                                    <li><a href="/trailer"><i class="mdi mdi-truck-trailer mr-1"></i>Прицепы</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>